
@property --deg {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@font-face {
    font-family: "papyrus-CFY";
    src: url(data/PAPYRUS.TTF);
}
@font-face {
    font-family: "graffiti-CFY";
    src: url(./aAnotherTag.ttf);
}


:root {
    --deg: 0deg;
}
body{
    background-color: black;
    margin:0%;
    padding: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    color:#22ebd7;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grid {
    display:grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;

}

#grid a {
    font-style: italic;
    text-decoration:none;
    display: block;
    color:rgb(159, 150, 255);
    border: 2px solid rgb(9, 107, 199);
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 5px 5px 10px rgb(50, 9, 199);
    font-size: normal;
    width:20cqmax;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: border 300ms, box-shadow 300ms, font-size 300ms, color 300ms;
}
#grid a:hover {
    border: 2px solid #07d9c8;
    box-shadow: 7px 7px 10px #00e1ff;
    font-weight:9099090;
    color:#22deeb;
}
.cfy-big-thing {
    font-family: "graffiti-CFY";
    text-align: center;
    background-image: linear-gradient(45deg, #22ebd7 10%, #1d1ac5 90%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 8vw;
    text-shadow: 0px 0px 20px rgba(22, 193, 255, 0.497), 0px 0px 30px rgba(201, 36, 219, 0.324);
    
}


canvas{
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    width:100%;
    height:100%;
  }
#fortune {
    color:#22ebd7;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 679px) {
    .cfy-big-thing {
        font-family: "graffiti-CFY";
        text-align: center;
        background-image: linear-gradient(45deg, #22ebd7 10%, #1d1ac5 90%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 13vw;
        text-shadow: 0px 0px 20px rgba(22, 193, 255, 0.497), 0px 0px 30px rgba(201, 36, 219, 0.324);
    }
    #grid {
        display:grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 199px);;
        padding: 10px;
        column-gap: 10px;
        row-gap: 10px;
    
    }
}