
@property --deg {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@font-face {
    font-family: "papyrus-CFY";
    src: url(data/PAPYRUS.TTF);
}

:root {
    --deg: 0deg;
}
body{
    background-color: black;
    margin:0%;
    padding: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#grid {
    display:grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;

}

#grid a {
    display: block;
    color:white;
    border: 2px solid rgb(102, 0, 133);
    padding: 30px;
    text-align: center;
    font-weight:600;
    border-radius: 20px;
    font-family: "papyrus-CFY";
    box-shadow: 5px 5px 10px rgb(102, 0, 133);
    font-size: normal;
    width:20cqmax;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: border 300ms, box-shadow 300ms, font-size 300ms, color 300ms;
}
#grid a:hover {
    border: 2px solid #EB6122;
    box-shadow: 7px 7px 10px #EB6122;
    font-weight:9099090;
    color:#EB6122;
}
.cfy-big-thing {
    font-family: "papyrus-CFY";
    text-align: center;
    background-image: linear-gradient(45deg, #EB6122 10%, #431C52 90%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 8vw;
    text-shadow: 0px 0px 20px rgba(196, 115, 0, 0.497), 0px 0px 30px rgba(201, 36, 219, 0.324);
    
}


canvas{
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    width:100%;
    height:100%;
  }
.m {
    background-image: linear-gradient(45deg, #EB6122 10%, #431C52 90%);
    display: block;
    color:white;
    border: 2px solid rgba(201, 20, 20, 0.8);
    padding: 30px;
    text-align: center;
    font-weight:600;
    border-radius: 20px;
    font-family: "papyrus-CFY";
    box-shadow: 5px 5px 10px rgb(55, 6, 92);
    font-size: normal;
    width:20cqmax;
    transition: border 300ms, box-shadow 300ms, font-size 300ms, color 300ms;
    margin-left: 36.5%;
}
.n {
    width:50cqmax;
}
.m:hover {
    border: 2px solid rgba(20, 201, 35, 0.8);
    box-shadow: 7px 7px 10px rgb(150, 72, 8);
    font-weight:9099090;
    color:rgba(20, 201, 35, 0.8);
}