@font-face {
    font-family: colorEmoji;
    src: url(AppleColorEmoji.ttf);
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

#card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#emoji {
    font-family: colorEmoji;
    font-size: 5em;
    text-align: center;
    margin:0;
}
#desc {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="text"] {
    padding: 10px;
    border: 2px solid rgb(0, 145, 255);
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-clip: border-box;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 200px;
    text-align: center;
    transition: border-color 0.5s;
}

input[type="text"]:focus {
    border-color: rgb(201, 191, 11);
}

#submit {
    margin:10px;
    padding: 10px;
    border: 2px solid rgb(0, 145, 255);
    border-radius: 3px;
    font-size: 16px;
    outline: none;
    width: 200px;
    text-align: center;
    transition: border-color 0.5s,  width 0.5s, color 0.5s;
}

img {
    width:100px;
    display:none;
}